on:
    push:
        branches:
            - main
        paths:
            - 'sentiment-docker/**'
            - '.github/workflows/docker-build.yml'

jobs:
    deploy:
        runs-on: ubuntu-latest

        env:
            DOCKER_IMAGE_NAME: sentiment-docker
            WORKING_DIRECTORY: sentiment-docker

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Docker login
              uses: docker/login-action@v3
              with: 
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

              #https://stackoverflow.com/questions/59810838/how-to-get-the-short-sha-for-the-github-workflow
            - name: Extract short SHA for label
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: ./sentiment-docker
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/sentiment-docker:latest
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/sentiment-docker:sha-${{ steps.vars.outputs.sha_short }}

