name: Terraform Workflow

on: 
    pull_request: 
        paths: 
            - "infra-s3/**"
            - ".github/**"
    push:
        branches: 
            - main
        paths:
            - "infra-s3/**"
            - ".github/**"
            
jobs:
    terraform:
        name: Terraform CI/CD
        runs-on: ubuntu-latest

        defaults:
            run: 
                working-directory: infra-s3 #Kjør følgende kommandoer i /infra-s3

        steps: 
            - name: Checkout
              uses: actions/checkout@v3
            
            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3

              with:
                terraform_version: 1.14.0

            - name: Configure AWS credentials
              uses: AWS-actions/configure-aws-credentials@v2
              with: 
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
                aws-region: "eu-west-1"

            - name: Terraform fmt
              run: terraform fmt -check

            - name: Terraform init
              run: terraform init -input=false

            - name: Terraform validate
              run: terraform validate

            - name: Terraform plan
              if: ${{ github.event_name == 'pull_request' }} # Use plan on pull
              run: terraform plan -input=false

            - name: Terraform apply
              if: ${{ github.event_name == 'push' }} # Use apply on push
              run: terraform apply -auto-approve -input=false
